<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% end block %}</title>
  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Job Tracker</a>
    <ul class="navbar-nav">
      <li class="nav-item"><a href="/list" class="nav-link">Long List </a></li>
    </ul>
    <form id="search-form">
      <input type="search" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  <div class="container mt-5">
    {% for msg in get_flashed_messages() %}
    <div class="alert alert-info">{{ msg }}</div>
    {% endfor %}

    {% block content %}
    {% end block %}
  </div>
    
</body>
</html>