<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/style.css">
  <title>Job Applications</title>
</head>
<body>
  <nav>To be added</nav>

  <section>
    <table>
      <tr>
        <th>Potential</th>
        <th>Applied</th>
        <th>Early Interviews</th>
        <th>On-Site</th>
        <th>Offer</th>
      </tr>
      <tr>
        <td>No jobs yet!</td>
        <td>No jobs yet!</td>
        <td>No jobs yet!</td>
        <td>No jobs yet!</td>
        <td>No jobs yet!</td>
      </tr>
    </table>
  </section>

  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="/static/jobs.js"></script>
</body>
</html>